<div class="about">
    <h1>Info-sentecias</h1>
    <p>Info-sentencias es un proyecto de titulacion desarrollado por una 
        estudiante de la Universidad Catolica Boliviana "San Pablo". El objetivo
        de este proyecto es aplicar mineria de datos sobre las sentencias disponibles
        del tirbunal supremo de justicia.
    </p>
    <p>
        Las sentencias comprendidas entre los años 2004 y 2019 que hayan sido cargadas al sitio
        web de tribunal supremo de justicia fueron utilizadas en este proyecto. Los delitos extraidos se
        obtuvieron a partir del codigo penal boliviano. Los hechos civiles se extrajeron en parte a partir
        del codigo civil boliviano entre otros. Las listas pueden obtenerse aqui:
    </p>
    <div class="about-button"> 
        <a href="https://firebasestorage.googleapis.com/v0/b/informacion-sentecias.appspot.com/o/Lista%20delitos.pdf?alt=media&token=539bf58a-d0e7-49c3-a0d0-ba321c2221e6"  target="_blank" rel="noopener noreferrer"><button  class="w3-button w3-round w3-teal w3-margin-right" >Descargar delitos</button></a>
        <a href="https://firebasestorage.googleapis.com/v0/b/informacion-sentecias.appspot.com/o/Lista%20Hechos.pdf?alt=media&token=5b46530c-fa41-437a-ab85-e68c1a2cbc76"  target="_blank" rel="noopener noreferrer"><button  class="w3-button w3-round w3-teal w3-margin-right">Descargar hechos civiles</button></a>
    </div> 
</div>