<div class="main_background w3-padding-64">
    <div  class="w3-container w3-left w3-margin-left">
        <h1 class="w3-text-white">
            <strong class="strong_color">Buscador</strong>
             de sentencias por <strong class="strong_color">hechos mencionados</strong>
        </h1>
        <h3 class="w3-text-white">Encuentre sentencias ingresando  delitos o hechos importantes del caso</h3>
    </div>
    <div  class="w3-container w3-center">
        <p class="w3-text-white w3-small"> Ingrese hechos relevantes al caso:</p>
      
            <input 
            type="text" 
            class="search_bar" 
            placeholder="Robo agravado"
            (keyup)= buscar($event.target.value)
            >

            <button type="submit" class="search_btn"  [routerLink] = "['/sentencias', textoIngresado]" >
                <i class="fa fa-search"></i>
            </button>
        
    </div>
    <div class="w3-container w3-center w3-margin-top">
        <button class="w3-button w3-round w3-teal w3-margin-right" routerLink = "/estadisticas-generales" >
            Ver estadisticas generales
        </button>
        <button class="w3-button w3-round w3-teal w3-margin-left" routerLink = "/estadisticas-delito">
            Ver estadisticas por delito
        </button>
    </div>
</div>


