<div class="main-container">
  <h2 class="title">Estadisticas Generales</h2>
  <div class="row-container"> 
      <div class="info-card">
        <img class="graph" src='https://firebasestorage.googleapis.com/v0/b/informacion-sentecias.appspot.com/o/delitos.PNG?alt=media&token=98c9c416-f96a-42a1-a653-dde31581b568'>
        <h3>Delitos más mencionados</h3>
      </div>
      <div class="info-card">
        <br>
        <h1>2630</h1>
        <br>
        <h3>palabras</h3>
        <p>Contiene una sentencia promedio</p>
      </div>
  </div>
  <div class="row-container">
    <div class="info-card">
      <img class="graph" src="https://firebasestorage.googleapis.com/v0/b/informacion-sentecias.appspot.com/o/hechos.PNG?alt=media&token=83b93074-a20b-4ad9-8f5f-cf838da3f4b6">
      <h3>Hechos civiles más mencionados en las sentencias</h3>
    </div>
    <div class="info-card">
      <br><br>
     <h2>117993</h2>
     <p>Palabras tiene la sentencia más larga</p>
     <br>
     <h2>161</h2>
     <p>Palabras tiene la sentencia más corta</p>
    </div>
  </div>
 
</div>
