<div  class="main-container">
  <div class="input-container">

    <input 
    type="text"  
    list="lista-delitos"
    [(ngModel)]="seleccionado"
    (change)="delitoSeleccionado(seleccionado)" 
    placeholder="Escriba un delito">

    <datalist id="lista-delitos" >
      <select>
        <option *ngFor="let delito of lista_delitos" [value]="delito">
          {{delito}}
        </option>
      </select>
    </datalist>  
  </div> 
  <div   *ngFor="let datos of delito"> 
    <div class="info-card"> 
      <img class="graph" src= {{datos.wordNetwork}}>
      <h4>Red de terminos</h4>
    </div>
    <div class="info-card"> 
      <img class="graph" src= {{datos.wordCloud}}>
      <h4>Nube de palabras </h4>
    </div>
  </div>
    <div>

    </div>
 
</div>