<div class="main-container">
    <div class="loader" *ngIf='!sentencias'></div>
    
    <div *ngFor="let sentencia of sentencias" class="sentencia-container">
        <div class="field-container">
            <p class="label">AS</p>
            <p>{{sentencia.Cod}}</p>
        </div>
        <div class="field-container">
            <p  class="label">fecha emisión</p>
            <p>{{sentencia.fecha}}</p>
        </div>
        <div class="field-container">
           <p class="crime-list">{{sentencia.delitos}}, {{sentencia.hechos}}</p> 
        </div>
        <button class="w3-button w3-round w3-teal w3-margin-left"  [routerLink] = "['/sentencia-detalle', sentencia.id]">Ver más</button>
    </div>
</div> 
<div *ngIf="sentencias.length === 0">
    <h1> No se encontraron resultados</h1> 
</div>

